/ - flash.each do |key, value|
/   %div.alert{:class => "alert-#{key}"}= value
#header
  %ul.list-inline.signin
    %li.signin_form.invisible
      = form_for(:user, url: session_path(:user), :html => {:class => "form-inline"}) do |f|
        / = devise_error_messages!
        .form-group
          = f.text_field :email, autocomplete: "off", :placeholder => 'Enter Your Email', :class => "form_field form-control", :id => "signin_email_field", :'data-validate' => '/check_email'
        .form-group
          = f.password_field :password, autocomplete: "off", :placeholder => 'Enter Your Password', :class => "form_field form-control"
        .form-group
          = f.submit 'Sign in', :class => "btn btn-primary", :id => "signin-button"
    %li
      %button.btn.btn-primary#toggle-signin-form Sign in    

.content
  %h1 Welcome to Tag-a-long
  %br
  %h2 There are #{@nearby_events.length} nearby events.
  <p id="event_preview" class="invisible"><span id="event_owner" class="bold"></span> is hanging out with <span id="event_attendee_count" class="bold"></span> other people and they're <span id="event_title" class="bold"></span></p>
  
  #signup.hidden.signup
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group#email_container
        = f.text_field :email, autocomplete: "off", autofocus: true, :placeholder => 'Enter Your Email', :class => "form_field form-control", :id => "signup_email_field", :'data-validate' => '/check_email'
        
        %span.glyphicon.form-control-feedback#email_glyphicon.validation_element
        
        .arrow-up.form_bubble.validation_element
        
        %span.help-block#email_in_use.form_bubble.validation_element This email address is already in use.<br>Click here if you've forgotten your password.
      
      .form-group
        = f.password_field :password, autocomplete: "off", :placeholder => 'Enter Your Password', :class => "form_field form-control"
      
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Confirm Your password', :class => "form_field user_form form-control"
        %p Use at least one uppercase letter, one number, and must be longer than 7 characters           
      
      .form-group
        = f.submit 'Sign up!', :class => "btn btn-primary", :id => "signup-button"
  
  %button.btn.btn-primary#toggle-signup-form Sign up to check them out!
