<nav>
<%if signed_in? %>
  <%= link_to "My Profile", current_user %>
  <%= link_to "My Events", "#" %>
  <%= link_to "Settings", "#" %>
  <%= link_to "Sign Out", logout_path, method: "delete" %>
<% else %>
  <%= link_to login_path %>
<% end %>
</nav>
<h2>Welcome <%= @user.firstname %>!</h2>

<p><%= link_to( "Find nearby locations", {:controller => "users", :action => "get_nearby"}, :remote => true) %></p>
<%= @response %>
<%=link_to "Create event", new_event_path %>
